#header{
    width: 100%;
    height: 150px;
    background-color: darkblue;
}
#menu-bar{
    width: 100%;
    height: 50px;
    background-color: skyblue;
}
#pemilik{
    color: white;
    padding: 10px;
}
#daftar-menu{
    display: inline-flex;
}
.menu{
    padding: 10px;
    list-style: none;
    width: 140px;
    text-align: center;
}
.menu:hover{
    background-color: yellow;
}
#daftar-artikel{
    display: none;
}
#open-artikel:hover #daftar-artikel{
    display: block;
}
.sub-artikel:hover;{
    background-color: black;
    color: white;
}
.sub-artikel{
    list-style: none;
}
    
}