.kotak{
    width: 80%;
    height: 500px;
    background-color: green;
    margin: auto;
}
.anak-kotak{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-top: 5px;
}
